body {
    font-family: Verdana, sans-serif;
    font-size: small;
    margin-left: 0.25in;
    margin-right: 0.25in;
    background:rgb(43, 48, 71);
}

h1 {
    font-family: Verdana, sans-serif;
    font-size: x-large;
    color: white;
}

td {
    font-family: Verdana, sans-serif;
    font-size: large;
    color: red;
}
th{
    font-family: Verdana,sans-serif;
    font-size: large;
    color: green;
}